body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f4f4f4;
}

.calculadora {
    background: #222;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

#pantalla {
    width: 100%;
    font-size: 24px;
    padding: 10px;
    margin-bottom: 10px;
    text-align: right;
    border: none;
    border-radius: 5px;
}

.botones {
    display: grid;
    grid-template-columns: repeat(5, 60px);
    gap: 10px;
}

button {
    padding: 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}